.login-background {
    --background: #6E00B5!important; 
  }
  
  .background-content {
      background-image: url('../../assets/img/login/ilusta@3x.png')!important;
      background-repeat: no-repeat;
      background-size: 100%;
      background-color: none!important;
      margin: 0 auto;
      max-width: 320pt;
      width: 90.6%;
      min-height: 41.7%;
      margin-top: 11%;
  }
  
  .background-content .saudacao {
      color: white;
      text-align: center;
      font-size: 32pt;
      padding-top: 3.8%;
      margin-bottom: 25%;
  }
  
  ion-grid.form-errors {
      margin: 0;
      border: 0 !important;
  }
  
  .form-errors {
      ion-icon {
          display: grid;
          align-items: center;
          align-content: center;
          float: left;
          padding-left: 7%;
          height: 100%;
      }
      ion-row {
          border-radius: 5pt;
          padding: 5pt 0;
          font-size: 30px;
          color: rgb(63, 61, 77);
          background-color: salmon;
      }
      .form-errors-content {
          width: 80%;
          padding: 13px 0;
          p {
              font-size: 14pt;
              padding-left: 20%;
              padding-right: 7%;
              margin: 0px;
          }
      }
  }
  
  .form-login {
    ion-list{
        background-color: #fff;
        margin: 15px 5px;
    }
      background-color: #fff;
      border-radius: 5pt;
      margin: 15pt auto;
      max-width: 290pt;
      opacity: 90%;
  }
  
  .button-login {
      font-size: 18pt;
      --background: #3fd4b4;
      height: 65pt;
      --border-radius: 0 0 5pt 5pt;
      --border-top-left-radius: 0pt;
      --border-top-right-radius: 0pt;
      --border-bottom-left-radius: 5pt;
      --border-bottom-right-radius: 5pt;
      margin-bottom: 0;
  }
  
  .item-wp.item-block .item-inner,
  .item-md.item-block .item-inner {
      padding-right: 0;
  }
  
  .button-login:hover {
      background-color: #3fd4b4;
  }
  
  .select-wp,
  .select-md {
      padding: 0;
  }
  
  .select-ios {
      padding: 0;
  }
  
  
  ion-content form ion-img {
      width: 25pt;
      height: 25pt;
      background-color: transparent;
  }
  
  .inputs {
      margin: 10px auto;
      width: 82.8%;
      height: 50pt;
      color: #3f3d4d;
      font-size: 14pt;
      padding: 0pt;
      --ion-background-color: #fff !important;
  }
  
  #serverUrl {
      background: url('../../assets/img/login/link@2x.png') no-repeat right;
      background-size: 25pt;
  }
  
  #credential {
      background: url('../../assets/img/login/icoUser@2x.png') no-repeat right;
      background-size: 25pt;
  }
  
  #password {
      background: url('../../assets/img/login/icoSenha@2x.png') no-repeat right;
      background-size: 25pt;
  }
  
  .text-input-ios,
  .text-input-wp,
  .text-input-md {
      margin: 0;
  }
  
  .select-city {
      width: 100%;
      max-width: 100%;
  }
  
  .select-city .select-icon {
      visibility: hidden;
  }
  
  .input-login-img {
      margin-right: 0px !important;
  }
  
  .background-content .contato {
      font-family: 'NunitoLight';
      color: white;
      font-size: 14pt;
      text-align: center;
      margin-top: 25pt;
  }
  
  .background-content .contato a {
      color: white;
      text-decoration: underline;
  }
  
  .select-wp {
      border: none;
      border-bottom: 0.55px solid #c8c7cc;
  }
  
  .text-input-wp {
      border: none;
      border-bottom: 0.55px solid #c8c7cc;
  }
  