<ion-header>
  <ion-toolbar>
    <ion-title>Nova frequência</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content" id="frequency-page" padding>
  <form #f="ngForm" (ngSubmit)="frequencyForm(f)">
    <div class="form-frequency">
      <div class="form-item" *ngIf="unities">
        <h3 class="form-item-title">Qual a escola?</h3>
        <ion-list>
          <ion-radio-group [(ngModel)]="unityId" name="unity" (ionChange)="onChangeUnity()" required>
            <ion-item class="form-item-radio-item" *ngFor="let unity of unities" lines="none">
              <ion-label>{{ unity.description }}</ion-label>
              <ion-radio slot="start" value="{{ unity.id }}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
      <div *ngIf="emptyUnities" class="empty-results">
        <p margin>Nenhuma escola encontrada.</p>
      </div>

      <div class="form-item" *ngIf="classrooms.length > 0" id="frequency-classroom">
        <h3 class="form-item-title">Turma</h3>
        <ion-list> 
          <ion-radio-group [(ngModel)]="classroomId" name="classroom" (ionChange)="onChangeClassroom()" required>
            <ion-item class="form-item-radio-item" *ngFor="let classroom of classrooms" lines="none">
              <ion-label>{{ classroom.description }}</ion-label>
              <ion-radio slot="start" value="{{ classroom.id }}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>

      <div class="form-item" *ngIf="!globalAbsence" id="frequency-discipline">
        <h3 class="form-item-title">Disciplina</h3>
        <ion-list>
          <ion-radio-group [(ngModel)]="disciplineId" name="discipline" required>
            <ion-item class="form-item-radio-item" *ngFor="let discipline of disciplines" lines="none">
              <ion-label>{{ discipline.description }}</ion-label>
              <ion-radio slot="start" value="{{ discipline.id }}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
 
      <div class="form-item" *ngIf="!globalAbsence" id="frequency-classes">
        <h3 class="form-item-title">Aulas</h3>
        <ion-list class="itens-checkbox">
          <ion-item class="form-item-check-item" *ngFor="let class of classes;" lines="none">
            <ion-label class="form-item-check-item-label">{{ class }}ª</ion-label>
            <ion-checkbox style="visibility: hidden;"
                          [checked]="selectedClasses.indexOf(class) > -1"
                          (ionChange)="updateSelectedClasses(class)">
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
      <!-- date timer escolha data-->
      <div class="form-item" *ngIf="classrooms" id="frequency-date" style="display: none;">
        <h3 class="form-item-title">Data</h3>
        <div class="date-frequency">
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" name="date"></ion-datetime>
          <p class="text-mudar">mudar</p>
        </div>
      </div>

      <ion-button expand="block"
                  type="submit"
                  class="button-frequency"
                  [disabled]="!f.valid || (!globalAbsence && !selectedClasses.length)"
                  *ngIf="!emptyUnities">
        Carregar lista de frequência
      </ion-button>
    </div>
  </form>
</ion-content>
